<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8" />
    <title>{% block title %}AMI'DANSE{% endblock %}</title>
    {% block stylesheets %}{% endblock %}
    <link rel="stylesheet" href="{{ asset('css/styles.css') }}">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/css/bootstrap.min.css" integrity="sha384-rwoIResjU2yc3z8GV/NPeZWAv56rSmLldC3R/AZzGRnGxQQKnKkoFVhFQhNUwEyJ" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/fancybox/3.0.47/jquery.fancybox.min.css" />
    <link rel="stylesheet" href="{{ asset('css/menu.css') }}">
    <!-- Custom Fonts -->
    <link href="{{ asset('font-awesome/css/font-awesome.min.css') }}" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet" type="text/css">
    <link href='https://fonts.googleapis.com/css?family=Kaushan+Script' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Droid+Serif:400,700,400italic,700italic' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Roboto+Slab:400,100,300,700' rel='stylesheet' type='text/css'>
    <link rel='stylesheet' href='{{ asset('fullcalendar/dist/fullcalendar.css') }}' />

    <!-- Theme CSS -->
    <link href="{{ asset('css/modal.min.css') }}" rel="stylesheet">
    <link rel="icon" type="image/x-icon" href="{{ asset('favicons/favicon.ico') }}" />
    <!-- favicon logo -->
    <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
    <link rel="manifest" href="/manifest.json">
    <link rel="mask-icon" href="/safari-pinned-tab.svg" color="#5bbad5">
    <meta name="theme-color" content="#ffffff">

    </head>
    <body>
        {% if message is defined and message != null %}
            <div>{% block message %}{{ message }}{% endblock %}</div>
        {% endif %}
        {% include 'Admin/Layout/flashes.html.twig' %}

        {% include 'Layout/navbar.html.twig' %}
        {% block h1 %}{% endblock %}
        <div class="container-fluid" style="background-color: #EEEEEE">
            {% block body %}{% endblock %}
        </div>

        <!--Script-->
        <script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4=" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/fancybox/3.0.47/jquery.fancybox.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/tether/1.4.0/js/tether.min.js" integrity="sha384-DztdAPBWPRXSA/3eYEEUWrWCy7G5KFbe8fFjk5JAIxUYHKkDx6Qin1DkWx51bBrb" crossorigin="anonymous"></script>
        <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDhA4CL0lZJ9dRn1CLYsVC07jTQ58qJMQM&callback"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/js/bootstrap.min.js" integrity="sha384-vBWWzlZJ8ea9aCX4pEW3rVHjgjt7zpkNpZk+02D9phzyeVkE+jo0ieGizqPLForn" crossorigin="anonymous"></script>
        <script src='{{ asset('moment/min/moment.min.js') }}'></script>
        <script src='{{ asset('fullcalendar/dist/fullcalendar.js') }}'></script>
        <script src='{{ asset('fullcalendar/dist/locale/fr.js') }}'></script>
        <script src='{{ asset('js/ajax.js') }}'></script>
        <script src="{{ asset('js/addons.js') }}"></script>
        {% block javascripts %}{% endblock %}

    </body>
    {% include'Layout/footer.html.twig' %}
</html>
